doctype html
html(lang="en")
	head
		title= "Ricky.bio"
		meta(name="viewport", content="width=500, initial-scale=1")
		link(href='/css/main.css', rel='stylesheet')
		script(src='/js/main.js', type='text/javascript')
	body
		#topbar.topbar
			#photo.photo
				img(src='/img/ricky.png')
			.text
				h1 Rick Overman
				h2 biography
				p My development and design portfolio and blog including demo projects, tools and tutorials.
		#content
				a(href='https://gitlab.com/u/rickoverman',target='_blank')
					img(src='/img/gitlab.png')
				a(href='https://nodejs.org/en/',target='_blank')
					img(src='/img/nodejs.png')
				a(href='http://phaser.io/',target='_blank')
					img(src='/img/phaser.png')
				a(href='http://yeoman.io/',target='_blank')
					img(src='/img/yeoman.png')
				
