html, body{

background:#fffef6;
}


xdiv, xp{
border:red 1px solid;

}

#topbar{
	background:#04022c;
	width:100%;
	height:200px;
	border-radius:40px;
	
}
#topbar .text p{
	 opacity:0.5;
color:#FFF;
margin-left:10px;
margin-top:30px;
overflow:hidden;

 
}
#topbar .text {
  color: #FFF;
  /* padding-left: 0px; */
  margin-top: 30px;
  position: absolute;
  margin-left: 217px;
}
#topbar .text h1{
 	margin:0;
padding:0;
 
}
#topbar .text h2{
 	margin:0;
padding:0;
 
}

#photo img{
	width:200px;
float:left;	

}

#content{
margin-top:80px;
margin-left:20%;;
}


#content img{
	width:300px;
 

}
